# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# unit tests / coverage reports
/tests-results.xml
/.coverage
/coverage.xml
/htmlcov/

# pyenv
/.python-version

# notebooks and checkpoints
*.ipynb
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

.env
